<html>
<head>
    <title>Contact us</title>
</head>
<body>
<h1>Contact us</h1>

{% if form.errors %}
<p style="color: red;">
    Please correct the error{{ form.errors|pluralize }} below.
</p>
{% endif %}

<form action="" method="post">
    {% for it in form %}
    <div class="field{% if it.errors %} errors{% endif %}">
        {% if it.errors %}
        <ul>
            {% for error in it.errors %}
            <li><strong>{{ error }}</strong></li>
            {% endfor %}
        </ul>
        {% endif %}
        <label for="{{it.id}}">{{it.name}}:</label>
        {{ it }}
    </div>
    {% endfor %}
    <input type="submit" value="Submit">
</form>
</body>
</html>